<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= render 'shared/flash_messages' %>

    <div class="container py-3">
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>
